.landscape {
  background: #26374a url(../images/landscape.png) no-repeat right bottom;
  color: #fff;

  .footer-nav {
    padding-top: 2em;
    padding-bottom: 2em;
    a{
      display: block;
      font-size: 14px;
      color: #fff;
      margin-bottom: 0.75em;
    }
  }
}

.brand {
  background: #fff;

  .brand-nav {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .brand-icon object {
    height: 40px;
    margin: 20px 0 10px;
    width: auto;
  }
}